body {
  background-color: #e68eff;
}
.country-card {
  width: 500px;
}
.country-name {
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}
.country-container {
  display: flex;
  justify-content: space-between;
}

.country-info {
  list-style: none;
}
.country-item,
.country-list {
  list-style: none;
  font-size: 25px;
  margin-bottom: 10px;
}
.country-languages {
  flex-wrap: wrap;
  font-size: 20px;
}
.country-flag {
  width: 200px;
}
.search-input {
  padding-left: 5px;
  padding-right: 25px;
  padding-block: 10px;
  font-size: 15px;
  border: 1px solid #efb3ff;
  border-radius: 11px;
  color: #210039;
  background-color: #fae8ff;
}
.search-input:focus {
  border: 1px solid #de67ff;
  border-radius: 11px;
  color: #210039;
  background-color: #f6d6ff;
}
.container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
